<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCourseChapterLabel" jhiTranslate="helloCodeApp.courseChapter.home.createOrEditLabel">Create or edit a Course Chapter</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!courseChapter.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="courseChapter.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseChapter.noteRu" for="field_noteRu">Note Ru</label>
            <input type="text" class="form-control" name="noteRu" id="field_noteRu"
                [(ngModel)]="courseChapter.noteRu" required/>
            <div [hidden]="!(editForm.controls.noteRu?.dirty && editForm.controls.noteRu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.noteRu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseChapter.noteKk" for="field_noteKk">Note Kk</label>
            <input type="text" class="form-control" name="noteKk" id="field_noteKk"
                [(ngModel)]="courseChapter.noteKk" required/>
            <div [hidden]="!(editForm.controls.noteKk?.dirty && editForm.controls.noteKk?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.noteKk?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseChapter.noteEn" for="field_noteEn">Note En</label>
            <input type="text" class="form-control" name="noteEn" id="field_noteEn"
                [(ngModel)]="courseChapter.noteEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseChapter.order" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                [(ngModel)]="courseChapter.order" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseChapter.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
            <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                [(ngModel)]="courseChapter.flagDeleted" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseChapter.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" [(ngModel)]="courseChapter.course" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseOption.id === courseChapter.course?.id ? courseChapter.course : courseOption" *ngFor="let courseOption of courses; trackBy: trackCourseById">{{courseOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
