
<div *ngIf="courseChapter">
    <h2><span jhiTranslate="helloCodeApp.courseChapter.detail.title">Course Chapter</span> {{courseChapter.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.courseChapter.noteRu">Note Ru</span></dt>
        <dd>
            <span>{{courseChapter.noteRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseChapter.noteKk">Note Kk</span></dt>
        <dd>
            <span>{{courseChapter.noteKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseChapter.noteEn">Note En</span></dt>
        <dd>
            <span>{{courseChapter.noteEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseChapter.order">Order</span></dt>
        <dd>
            <span>{{courseChapter.order}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseChapter.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{courseChapter.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseChapter.course">Course</span></dt>
        <dd>
            <div *ngIf="courseChapter.course">
                <a [routerLink]="['/course-h-code', courseChapter.course?.id]">{{courseChapter.course?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'course-chapter-h-code/'+ courseChapter.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
