<div>
    <h2>
        <span jhiTranslate="helloCodeApp.courseChapter.home.title">Course Chapters</span>
        <button class="btn btn-primary float-right jh-create-entity create-course-chapter-h-code" [routerLink]="['/', { outlets: { popup: ['course-chapter-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.courseChapter.home.createLabel">
            Create new Course Chapter
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.courseChapter.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="courseChapters">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="noteRu"><span jhiTranslate="helloCodeApp.courseChapter.noteRu">Note Ru</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="noteKk"><span jhiTranslate="helloCodeApp.courseChapter.noteKk">Note Kk</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="noteEn"><span jhiTranslate="helloCodeApp.courseChapter.noteEn">Note En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="order"><span jhiTranslate="helloCodeApp.courseChapter.order">Order</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flagDeleted"><span jhiTranslate="helloCodeApp.courseChapter.flagDeleted">Flag Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="course.id"><span jhiTranslate="helloCodeApp.courseChapter.course">Course</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let courseChapter of courseChapters ;trackBy: trackId">
                <td><a [routerLink]="['../course-chapter-h-code', courseChapter.id ]">{{courseChapter.id}}</a></td>
                <td>{{courseChapter.noteRu}}</td>
                <td>{{courseChapter.noteKk}}</td>
                <td>{{courseChapter.noteEn}}</td>
                <td>{{courseChapter.order}}</td>
                <td>{{courseChapter.flagDeleted}}</td>
                <td>
                    <div *ngIf="courseChapter.course">
                        <a [routerLink]="['../course-h-code', courseChapter.course?.id ]" >{{courseChapter.course?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../course-chapter-h-code', courseChapter.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-chapter-h-code/'+ courseChapter.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-chapter-h-code/'+ courseChapter.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
