
<div *ngIf="skratchIssue">
    <h2><span jhiTranslate="helloCodeApp.skratchIssue.detail.title">Skratch Issue</span> {{skratchIssue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.skratchIssue.url">Url</span></dt>
        <dd>
            <span>{{skratchIssue.url}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.skratchIssue.note">Note</span></dt>
        <dd>
            <span>{{skratchIssue.note}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.skratchIssue.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{skratchIssue.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.skratchIssue.issue">Issue</span></dt>
        <dd>
            <div *ngIf="skratchIssue.issue">
                <a [routerLink]="['/course-issue-h-code', skratchIssue.issue?.id]">{{skratchIssue.issue?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'skratch-issue-h-code/'+ skratchIssue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
