
<div *ngIf="testQuestion">
    <h2><span jhiTranslate="helloCodeApp.testQuestion.detail.title">Test Question</span> {{testQuestion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.testQuestion.bodyRu">Body Ru</span></dt>
        <dd>
            <span>{{testQuestion.bodyRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testQuestion.bodyKk">Body Kk</span></dt>
        <dd>
            <span>{{testQuestion.bodyKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testQuestion.bodyEn">Body En</span></dt>
        <dd>
            <span>{{testQuestion.bodyEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testQuestion.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{testQuestion.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testQuestion.issue">Issue</span></dt>
        <dd>
            <div *ngIf="testQuestion.issue">
                <a [routerLink]="['/course-issue-h-code', testQuestion.issue?.id]">{{testQuestion.issue?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'test-question-h-code/'+ testQuestion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
