<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTestQuestionLabel" jhiTranslate="helloCodeApp.testQuestion.home.createOrEditLabel">Create or edit a Test Question</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!testQuestion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="testQuestion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testQuestion.bodyRu" for="field_bodyRu">Body Ru</label>
            <input type="text" class="form-control" name="bodyRu" id="field_bodyRu"
                [(ngModel)]="testQuestion.bodyRu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testQuestion.bodyKk" for="field_bodyKk">Body Kk</label>
            <input type="text" class="form-control" name="bodyKk" id="field_bodyKk"
                [(ngModel)]="testQuestion.bodyKk" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testQuestion.bodyEn" for="field_bodyEn">Body En</label>
            <input type="text" class="form-control" name="bodyEn" id="field_bodyEn"
                [(ngModel)]="testQuestion.bodyEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testQuestion.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
            <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                [(ngModel)]="testQuestion.flagDeleted" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testQuestion.issue" for="field_issue">Issue</label>
            <select class="form-control" id="field_issue" name="issue" [(ngModel)]="testQuestion.issue" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseIssueOption.id === testQuestion.issue?.id ? testQuestion.issue : courseIssueOption" *ngFor="let courseIssueOption of courseissues; trackBy: trackCourseIssueById">{{courseIssueOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
