<div>
    <h2>
        <span jhiTranslate="helloCodeApp.testQuestion.home.title">Test Questions</span>
        <button class="btn btn-primary float-right jh-create-entity create-test-question-h-code" [routerLink]="['/', { outlets: { popup: ['test-question-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.testQuestion.home.createLabel">
            Create new Test Question
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.testQuestion.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="testQuestions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bodyRu"><span jhiTranslate="helloCodeApp.testQuestion.bodyRu">Body Ru</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bodyKk"><span jhiTranslate="helloCodeApp.testQuestion.bodyKk">Body Kk</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bodyEn"><span jhiTranslate="helloCodeApp.testQuestion.bodyEn">Body En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flagDeleted"><span jhiTranslate="helloCodeApp.testQuestion.flagDeleted">Flag Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="issue.id"><span jhiTranslate="helloCodeApp.testQuestion.issue">Issue</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let testQuestion of testQuestions ;trackBy: trackId">
                <td><a [routerLink]="['../test-question-h-code', testQuestion.id ]">{{testQuestion.id}}</a></td>
                <td>{{testQuestion.bodyRu}}</td>
                <td>{{testQuestion.bodyKk}}</td>
                <td>{{testQuestion.bodyEn}}</td>
                <td>{{testQuestion.flagDeleted}}</td>
                <td>
                    <div *ngIf="testQuestion.issue">
                        <a [routerLink]="['../course-issue-h-code', testQuestion.issue?.id ]" >{{testQuestion.issue?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../test-question-h-code', testQuestion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-question-h-code/'+ testQuestion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-question-h-code/'+ testQuestion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="testQuestions && testQuestions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
