<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLearnerActivityLabel" jhiTranslate="helloCodeApp.learnerActivity.home.createOrEditLabel">Create or edit a Learner Activity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!learnerActivity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="learnerActivity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerActivity.flagPassed" for="field_flagPassed">Flag Passed</label>
            <input type="checkbox" class="form-control" name="flagPassed" id="field_flagPassed"
                [(ngModel)]="learnerActivity.flagPassed" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerActivity.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" [(ngModel)]="learnerActivity.course" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseOption.id === learnerActivity.course?.id ? learnerActivity.course : courseOption" *ngFor="let courseOption of courses; trackBy: trackCourseById">{{courseOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerActivity.issue" for="field_issue">Issue</label>
            <select class="form-control" id="field_issue" name="issue" [(ngModel)]="learnerActivity.issue" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseIssueOption.id === learnerActivity.issue?.id ? learnerActivity.issue : courseIssueOption" *ngFor="let courseIssueOption of courseissues; trackBy: trackCourseIssueById">{{courseIssueOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerActivity.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="learnerActivity.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === learnerActivity.user?.id ? learnerActivity.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerActivity.statusHistory" for="field_statusHistory">Status History</label>
            <select class="form-control" id="field_statusHistory" name="statusHistory" [(ngModel)]="learnerActivity.statusHistory" >
                <option [ngValue]="null"></option>
                <option [ngValue]="activityStatusHistoryOption.id === learnerActivity.statusHistory?.id ? learnerActivity.statusHistory : activityStatusHistoryOption" *ngFor="let activityStatusHistoryOption of activitystatushistories; trackBy: trackActivityStatusHistoryById">{{activityStatusHistoryOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
