<div>
    <h2>
        <span jhiTranslate="helloCodeApp.learnerActivity.home.title">Learner Activities</span>
        <button class="btn btn-primary float-right jh-create-entity create-learner-activity-h-code" [routerLink]="['/', { outlets: { popup: ['learner-activity-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.learnerActivity.home.createLabel">
            Create new Learner Activity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.learnerActivity.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="learnerActivities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flagPassed"><span jhiTranslate="helloCodeApp.learnerActivity.flagPassed">Flag Passed</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="course.id"><span jhiTranslate="helloCodeApp.learnerActivity.course">Course</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="issue.id"><span jhiTranslate="helloCodeApp.learnerActivity.issue">Issue</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.id"><span jhiTranslate="helloCodeApp.learnerActivity.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="statusHistory.id"><span jhiTranslate="helloCodeApp.learnerActivity.statusHistory">Status History</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let learnerActivity of learnerActivities ;trackBy: trackId">
                <td><a [routerLink]="['../learner-activity-h-code', learnerActivity.id ]">{{learnerActivity.id}}</a></td>
                <td>{{learnerActivity.flagPassed}}</td>
                <td>
                    <div *ngIf="learnerActivity.course">
                        <a [routerLink]="['../course-h-code', learnerActivity.course?.id ]" >{{learnerActivity.course?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="learnerActivity.issue">
                        <a [routerLink]="['../course-issue-h-code', learnerActivity.issue?.id ]" >{{learnerActivity.issue?.id}}</a>
                    </div>
                </td>
                <td>
                    {{learnerActivity.user?.id}}
                </td>
                <td>
                    <div *ngIf="learnerActivity.statusHistory">
                        <a [routerLink]="['../activity-status-history-h-code', learnerActivity.statusHistory?.id ]" >{{learnerActivity.statusHistory?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../learner-activity-h-code', learnerActivity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'learner-activity-h-code/'+ learnerActivity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'learner-activity-h-code/'+ learnerActivity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="learnerActivities && learnerActivities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
