
<div *ngIf="learnerActivity">
    <h2><span jhiTranslate="helloCodeApp.learnerActivity.detail.title">Learner Activity</span> {{learnerActivity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.learnerActivity.flagPassed">Flag Passed</span></dt>
        <dd>
            <span>{{learnerActivity.flagPassed}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerActivity.course">Course</span></dt>
        <dd>
            <div *ngIf="learnerActivity.course">
                <a [routerLink]="['/course-h-code', learnerActivity.course?.id]">{{learnerActivity.course?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerActivity.issue">Issue</span></dt>
        <dd>
            <div *ngIf="learnerActivity.issue">
                <a [routerLink]="['/course-issue-h-code', learnerActivity.issue?.id]">{{learnerActivity.issue?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerActivity.user">User</span></dt>
        <dd>
            {{learnerActivity.user?.id}}
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerActivity.statusHistory">Status History</span></dt>
        <dd>
            <div *ngIf="learnerActivity.statusHistory">
                <a [routerLink]="['/activity-status-history-h-code', learnerActivity.statusHistory?.id]">{{learnerActivity.statusHistory?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'learner-activity-h-code/'+ learnerActivity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
