<div>
    <h2>
        <span jhiTranslate="helloCodeApp.school.home.title">Schools</span>
        <button class="btn btn-primary float-right jh-create-entity create-school-h-code" [routerLink]="['/', { outlets: { popup: ['school-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.school.home.createLabel">
            Create new School
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.school.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schools">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="helloCodeApp.school.nameRu">Name Ru</span></th>
            <th><span jhiTranslate="helloCodeApp.school.nameKk">Name Kk</span></th>
            <th><span jhiTranslate="helloCodeApp.school.nameEn">Name En</span></th>
            <th><span jhiTranslate="helloCodeApp.school.descriptionRu">Description Ru</span></th>
            <th><span jhiTranslate="helloCodeApp.school.descriptionKk">Description Kk</span></th>
            <th><span jhiTranslate="helloCodeApp.school.descriptionEn">Description En</span></th>
            <th><span jhiTranslate="helloCodeApp.school.fullAddress">Full Address</span></th>
            <th><span jhiTranslate="helloCodeApp.school.lat">Lat</span></th>
            <th><span jhiTranslate="helloCodeApp.school.lon">Lon</span></th>
            <th><span jhiTranslate="helloCodeApp.school.image">Image</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let school of schools ;trackBy: trackId">
                <td><a [routerLink]="['../school-h-code', school.id ]">{{school.id}}</a></td>
                <td>{{school.nameRu}}</td>
                <td>{{school.nameKk}}</td>
                <td>{{school.nameEn}}</td>
                <td>{{school.descriptionRu}}</td>
                <td>{{school.descriptionKk}}</td>
                <td>{{school.descriptionEn}}</td>
                <td>{{school.fullAddress}}</td>
                <td>{{school.lat}}</td>
                <td>{{school.lon}}</td>
                <td>
                    <a *ngIf="school.image" (click)="openFile(school.imageContentType, school.image)">
                        <img [src]="'data:' + school.imageContentType + ';base64,' + school.image" style="max-height: 30px;" alt="school image"/>
                    </a>
                    <span *ngIf="school.image">{{school.imageContentType}}, {{byteSize(school.image)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../school-h-code', school.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-h-code/'+ school.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-h-code/'+ school.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
