
<div *ngIf="school">
    <h2><span jhiTranslate="helloCodeApp.school.detail.title">School</span> {{school.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.school.nameRu">Name Ru</span></dt>
        <dd>
            <span>{{school.nameRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.school.nameKk">Name Kk</span></dt>
        <dd>
            <span>{{school.nameKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.school.nameEn">Name En</span></dt>
        <dd>
            <span>{{school.nameEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.school.descriptionRu">Description Ru</span></dt>
        <dd>
            <span>{{school.descriptionRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.school.descriptionKk">Description Kk</span></dt>
        <dd>
            <span>{{school.descriptionKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.school.descriptionEn">Description En</span></dt>
        <dd>
            <span>{{school.descriptionEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.school.fullAddress">Full Address</span></dt>
        <dd>
            <span>{{school.fullAddress}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.school.lat">Lat</span></dt>
        <dd>
            <span>{{school.lat}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.school.lon">Lon</span></dt>
        <dd>
            <span>{{school.lon}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.school.image">Image</span></dt>
        <dd>
            <div *ngIf="school.image">
                <a (click)="openFile(school.imageContentType, school.image)">
                    <img [src]="'data:' + school.imageContentType + ';base64,' + school.image" style="max-width: 100%;" alt="school image"/>
                </a>
                {{school.imageContentType}}, {{byteSize(school.image)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'school-h-code/'+ school.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
