<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySchoolLabel" jhiTranslate="helloCodeApp.school.home.createOrEditLabel">Create or edit a School</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!school.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="school.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.school.nameRu" for="field_nameRu">Name Ru</label>
            <input type="text" class="form-control" name="nameRu" id="field_nameRu"
                [(ngModel)]="school.nameRu" required/>
            <div [hidden]="!(editForm.controls.nameRu?.dirty && editForm.controls.nameRu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameRu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.school.nameKk" for="field_nameKk">Name Kk</label>
            <input type="text" class="form-control" name="nameKk" id="field_nameKk"
                [(ngModel)]="school.nameKk" required/>
            <div [hidden]="!(editForm.controls.nameKk?.dirty && editForm.controls.nameKk?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameKk?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.school.nameEn" for="field_nameEn">Name En</label>
            <input type="text" class="form-control" name="nameEn" id="field_nameEn"
                [(ngModel)]="school.nameEn" required/>
            <div [hidden]="!(editForm.controls.nameEn?.dirty && editForm.controls.nameEn?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameEn?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.school.descriptionRu" for="field_descriptionRu">Description Ru</label>
            <input type="text" class="form-control" name="descriptionRu" id="field_descriptionRu"
                [(ngModel)]="school.descriptionRu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.school.descriptionKk" for="field_descriptionKk">Description Kk</label>
            <input type="text" class="form-control" name="descriptionKk" id="field_descriptionKk"
                [(ngModel)]="school.descriptionKk" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.school.descriptionEn" for="field_descriptionEn">Description En</label>
            <input type="text" class="form-control" name="descriptionEn" id="field_descriptionEn"
                [(ngModel)]="school.descriptionEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.school.fullAddress" for="field_fullAddress">Full Address</label>
            <input type="text" class="form-control" name="fullAddress" id="field_fullAddress"
                [(ngModel)]="school.fullAddress" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.school.lat" for="field_lat">Lat</label>
            <input type="text" class="form-control" name="lat" id="field_lat"
                [(ngModel)]="school.lat" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.school.lon" for="field_lon">Lon</label>
            <input type="text" class="form-control" name="lon" id="field_lon"
                [(ngModel)]="school.lon" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.school.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + school.imageContentType + ';base64,' + school.image" style="max-height: 100px;" *ngIf="school.image" alt="school image"/>
                <div *ngIf="school.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{school.imageContentType}}, {{byteSize(school.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, school, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="school.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="school.imageContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
