
<div *ngIf="activityResult">
    <h2><span jhiTranslate="helloCodeApp.activityResult.detail.title">Activity Result</span> {{activityResult.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.activityResult.note">Note</span></dt>
        <dd>
            <span>{{activityResult.note}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.activityResult.result">Result</span></dt>
        <dd>
            <span>{{activityResult.result}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'activity-result-h-code/'+ activityResult.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
