<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserInfoLabel" jhiTranslate="helloCodeApp.userInfo.home.createOrEditLabel">Create or edit a User Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.userInfo.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + userInfo.imageContentType + ';base64,' + userInfo.image" style="max-height: 100px;" *ngIf="userInfo.image" alt="userInfo image"/>
                <div *ngIf="userInfo.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{userInfo.imageContentType}}, {{byteSize(userInfo.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, userInfo, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="userInfo.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="userInfo.imageContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.userInfo.dob" for="field_dob">Dob</label>
            <div class="input-group">
                <input id="field_dob" type="text" class="form-control" name="dob" ngbDatepicker  #dobDp="ngbDatepicker" [(ngModel)]="userInfo.dob"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.userInfo.rate" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                [(ngModel)]="userInfo.rate" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.userInfo.fullAddress" for="field_fullAddress">Full Address</label>
            <input type="text" class="form-control" name="fullAddress" id="field_fullAddress"
                [(ngModel)]="userInfo.fullAddress" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.userInfo.lat" for="field_lat">Lat</label>
            <input type="text" class="form-control" name="lat" id="field_lat"
                [(ngModel)]="userInfo.lat" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.userInfo.lon" for="field_lon">Lon</label>
            <input type="text" class="form-control" name="lon" id="field_lon"
                [(ngModel)]="userInfo.lon" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.userInfo.userType" for="field_userType">User Type</label>
            <select class="form-control" name="userType" [(ngModel)]="userInfo.userType" id="field_userType" >
                <option value="LEARNER">{{'helloCodeApp.UserType.LEARNER' | translate}}</option>
                <option value="TEACHER">{{'helloCodeApp.UserType.TEACHER' | translate}}</option>
                <option value="ADMIN">{{'helloCodeApp.UserType.ADMIN' | translate}}</option>
                <option value="PARENT">{{'helloCodeApp.UserType.PARENT' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.userInfo.iin" for="field_iin">Iin</label>
            <input type="text" class="form-control" name="iin" id="field_iin"
                [(ngModel)]="userInfo.iin" minlength="12" maxlength="12"/>
            <div [hidden]="!(editForm.controls.iin?.dirty && editForm.controls.iin?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.iin?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 12 }">
                   This field is required to be at least 12 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.iin?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 12 }">
                   This field cannot be longer than 12 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.userInfo.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userInfo.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === userInfo.user?.id ? userInfo.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
