
<div *ngIf="userInfo">
    <h2><span jhiTranslate="helloCodeApp.userInfo.detail.title">User Info</span> {{userInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.userInfo.image">Image</span></dt>
        <dd>
            <div *ngIf="userInfo.image">
                <a (click)="openFile(userInfo.imageContentType, userInfo.image)">
                    <img [src]="'data:' + userInfo.imageContentType + ';base64,' + userInfo.image" style="max-width: 100%;" alt="userInfo image"/>
                </a>
                {{userInfo.imageContentType}}, {{byteSize(userInfo.image)}}
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.userInfo.dob">Dob</span></dt>
        <dd>
            <span>{{userInfo.dob | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.userInfo.rate">Rate</span></dt>
        <dd>
            <span>{{userInfo.rate}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.userInfo.fullAddress">Full Address</span></dt>
        <dd>
            <span>{{userInfo.fullAddress}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.userInfo.lat">Lat</span></dt>
        <dd>
            <span>{{userInfo.lat}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.userInfo.lon">Lon</span></dt>
        <dd>
            <span>{{userInfo.lon}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.userInfo.userType">User Type</span></dt>
        <dd>
            <span jhiTranslate="{{'helloCodeApp.UserType.' + userInfo.userType}}">{{userInfo.userType}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.userInfo.iin">Iin</span></dt>
        <dd>
            <span>{{userInfo.iin}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.userInfo.user">User</span></dt>
        <dd>
            {{userInfo.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-info-h-code/'+ userInfo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
