<div>
    <h2>
        <span jhiTranslate="helloCodeApp.userInfo.home.title">User Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-info-h-code" [routerLink]="['/', { outlets: { popup: ['user-info-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.userInfo.home.createLabel">
            Create new User Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.userInfo.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="helloCodeApp.userInfo.image">Image</span></th>
            <th><span jhiTranslate="helloCodeApp.userInfo.dob">Dob</span></th>
            <th><span jhiTranslate="helloCodeApp.userInfo.rate">Rate</span></th>
            <th><span jhiTranslate="helloCodeApp.userInfo.fullAddress">Full Address</span></th>
            <th><span jhiTranslate="helloCodeApp.userInfo.lat">Lat</span></th>
            <th><span jhiTranslate="helloCodeApp.userInfo.lon">Lon</span></th>
            <th><span jhiTranslate="helloCodeApp.userInfo.userType">User Type</span></th>
            <th><span jhiTranslate="helloCodeApp.userInfo.iin">Iin</span></th>
            <th><span jhiTranslate="helloCodeApp.userInfo.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userInfo of userInfos ;trackBy: trackId">
                <td><a [routerLink]="['../user-info-h-code', userInfo.id ]">{{userInfo.id}}</a></td>
                <td>
                    <a *ngIf="userInfo.image" (click)="openFile(userInfo.imageContentType, userInfo.image)">
                        <img [src]="'data:' + userInfo.imageContentType + ';base64,' + userInfo.image" style="max-height: 30px;" alt="userInfo image"/>
                    </a>
                    <span *ngIf="userInfo.image">{{userInfo.imageContentType}}, {{byteSize(userInfo.image)}}</span>
                </td>
                <td>{{userInfo.dob | date:'mediumDate'}}</td>
                <td>{{userInfo.rate}}</td>
                <td>{{userInfo.fullAddress}}</td>
                <td>{{userInfo.lat}}</td>
                <td>{{userInfo.lon}}</td>
                <td jhiTranslate="{{'helloCodeApp.UserType.' + userInfo.userType}}">{{userInfo.userType}}</td>
                <td>{{userInfo.iin}}</td>
                <td>
                    {{userInfo.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-info-h-code', userInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-info-h-code/'+ userInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-info-h-code/'+ userInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
