
<div *ngIf="videoIssue">
    <h2><span jhiTranslate="helloCodeApp.videoIssue.detail.title">Video Issue</span> {{videoIssue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.videoIssue.url">Url</span></dt>
        <dd>
            <span>{{videoIssue.url}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.videoIssue.duration">Duration</span></dt>
        <dd>
            <span>{{videoIssue.duration}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.videoIssue.name">Name</span></dt>
        <dd>
            <span>{{videoIssue.name}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.videoIssue.login">Login</span></dt>
        <dd>
            <span>{{videoIssue.login}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.videoIssue.key">Key</span></dt>
        <dd>
            <span>{{videoIssue.key}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.videoIssue.note">Note</span></dt>
        <dd>
            <span>{{videoIssue.note}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.videoIssue.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{videoIssue.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.videoIssue.issue">Issue</span></dt>
        <dd>
            <div *ngIf="videoIssue.issue">
                <a [routerLink]="['/course-issue-h-code', videoIssue.issue?.id]">{{videoIssue.issue?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'video-issue-h-code/'+ videoIssue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
