
<div *ngIf="grade">
    <h2><span jhiTranslate="helloCodeApp.grade.detail.title">Grade</span> {{grade.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.grade.nameRu">Name Ru</span></dt>
        <dd>
            <span>{{grade.nameRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.grade.nameKk">Name Kk</span></dt>
        <dd>
            <span>{{grade.nameKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.grade.nameEn">Name En</span></dt>
        <dd>
            <span>{{grade.nameEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.grade.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{grade.flagDeleted}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'grade-h-code/'+ grade.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
