<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGradeLabel" jhiTranslate="helloCodeApp.grade.home.createOrEditLabel">Create or edit a Grade</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!grade.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="grade.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.grade.nameRu" for="field_nameRu">Name Ru</label>
            <input type="text" class="form-control" name="nameRu" id="field_nameRu"
                [(ngModel)]="grade.nameRu" required/>
            <div [hidden]="!(editForm.controls.nameRu?.dirty && editForm.controls.nameRu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameRu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.grade.nameKk" for="field_nameKk">Name Kk</label>
            <input type="text" class="form-control" name="nameKk" id="field_nameKk"
                [(ngModel)]="grade.nameKk" required/>
            <div [hidden]="!(editForm.controls.nameKk?.dirty && editForm.controls.nameKk?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameKk?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.grade.nameEn" for="field_nameEn">Name En</label>
            <input type="text" class="form-control" name="nameEn" id="field_nameEn"
                [(ngModel)]="grade.nameEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.grade.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
            <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                [(ngModel)]="grade.flagDeleted" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
