<div>
    <h2>
        <span jhiTranslate="helloCodeApp.grade.home.title">Grades</span>
        <button class="btn btn-primary float-right jh-create-entity create-grade-h-code" [routerLink]="['/', { outlets: { popup: ['grade-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.grade.home.createLabel">
            Create new Grade
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.grade.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="grades">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="helloCodeApp.grade.nameRu">Name Ru</span></th>
            <th><span jhiTranslate="helloCodeApp.grade.nameKk">Name Kk</span></th>
            <th><span jhiTranslate="helloCodeApp.grade.nameEn">Name En</span></th>
            <th><span jhiTranslate="helloCodeApp.grade.flagDeleted">Flag Deleted</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let grade of grades ;trackBy: trackId">
                <td><a [routerLink]="['../grade-h-code', grade.id ]">{{grade.id}}</a></td>
                <td>{{grade.nameRu}}</td>
                <td>{{grade.nameKk}}</td>
                <td>{{grade.nameEn}}</td>
                <td>{{grade.flagDeleted}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../grade-h-code', grade.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'grade-h-code/'+ grade.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'grade-h-code/'+ grade.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
