
<div *ngIf="textIssue">
    <h2><span jhiTranslate="helloCodeApp.textIssue.detail.title">Text Issue</span> {{textIssue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.textIssue.bodyRu">Body Ru</span></dt>
        <dd>
            <span>{{textIssue.bodyRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.textIssue.bodyKk">Body Kk</span></dt>
        <dd>
            <span>{{textIssue.bodyKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.textIssue.bodyEn">Body En</span></dt>
        <dd>
            <span>{{textIssue.bodyEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.textIssue.noteRu">Note Ru</span></dt>
        <dd>
            <span>{{textIssue.noteRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.textIssue.noteKk">Note Kk</span></dt>
        <dd>
            <span>{{textIssue.noteKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.textIssue.noteEn">Note En</span></dt>
        <dd>
            <span>{{textIssue.noteEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.textIssue.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{textIssue.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.textIssue.issue">Issue</span></dt>
        <dd>
            <div *ngIf="textIssue.issue">
                <a [routerLink]="['/course-issue-h-code', textIssue.issue?.id]">{{textIssue.issue?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'text-issue-h-code/'+ textIssue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
