<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTextIssueLabel" jhiTranslate="helloCodeApp.textIssue.home.createOrEditLabel">Create or edit a Text Issue</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!textIssue.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="textIssue.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.textIssue.bodyRu" for="field_bodyRu">Body Ru</label>
            <input type="text" class="form-control" name="bodyRu" id="field_bodyRu"
                [(ngModel)]="textIssue.bodyRu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.textIssue.bodyKk" for="field_bodyKk">Body Kk</label>
            <input type="text" class="form-control" name="bodyKk" id="field_bodyKk"
                [(ngModel)]="textIssue.bodyKk" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.textIssue.bodyEn" for="field_bodyEn">Body En</label>
            <input type="text" class="form-control" name="bodyEn" id="field_bodyEn"
                [(ngModel)]="textIssue.bodyEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.textIssue.noteRu" for="field_noteRu">Note Ru</label>
            <input type="text" class="form-control" name="noteRu" id="field_noteRu"
                [(ngModel)]="textIssue.noteRu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.textIssue.noteKk" for="field_noteKk">Note Kk</label>
            <input type="text" class="form-control" name="noteKk" id="field_noteKk"
                [(ngModel)]="textIssue.noteKk" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.textIssue.noteEn" for="field_noteEn">Note En</label>
            <input type="text" class="form-control" name="noteEn" id="field_noteEn"
                [(ngModel)]="textIssue.noteEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.textIssue.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
            <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                [(ngModel)]="textIssue.flagDeleted" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.textIssue.issue" for="field_issue">Issue</label>
            <select class="form-control" id="field_issue" name="issue" [(ngModel)]="textIssue.issue" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseIssueOption.id === textIssue.issue?.id ? textIssue.issue : courseIssueOption" *ngFor="let courseIssueOption of courseissues; trackBy: trackCourseIssueById">{{courseIssueOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
