
<div *ngIf="courseProgress">
    <h2><span jhiTranslate="helloCodeApp.courseProgress.detail.title">Course Progress</span> {{courseProgress.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.courseProgress.passedIssues">Passed Issues</span></dt>
        <dd>
            <span>{{courseProgress.passedIssues}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseProgress.totalIssues">Total Issues</span></dt>
        <dd>
            <span>{{courseProgress.totalIssues}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseProgress.lastActivityDate">Last Activity Date</span></dt>
        <dd>
            <span>{{courseProgress.lastActivityDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseProgress.course">Course</span></dt>
        <dd>
            <div *ngIf="courseProgress.course">
                <a [routerLink]="['/course-h-code', courseProgress.course?.id]">{{courseProgress.course?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseProgress.user">User</span></dt>
        <dd>
            {{courseProgress.user?.id}}
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseProgress.lastIssue">Last Issue</span></dt>
        <dd>
            <div *ngIf="courseProgress.lastIssue">
                <a [routerLink]="['/course-issue-h-code', courseProgress.lastIssue?.id]">{{courseProgress.lastIssue?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'course-progress-h-code/'+ courseProgress.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
