<div>
    <h2>
        <span jhiTranslate="helloCodeApp.courseProgress.home.title">Course Progresses</span>
        <button class="btn btn-primary float-right jh-create-entity create-course-progress-h-code" [routerLink]="['/', { outlets: { popup: ['course-progress-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.courseProgress.home.createLabel">
            Create new Course Progress
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.courseProgress.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="courseProgresses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="passedIssues"><span jhiTranslate="helloCodeApp.courseProgress.passedIssues">Passed Issues</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalIssues"><span jhiTranslate="helloCodeApp.courseProgress.totalIssues">Total Issues</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastActivityDate"><span jhiTranslate="helloCodeApp.courseProgress.lastActivityDate">Last Activity Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="course.id"><span jhiTranslate="helloCodeApp.courseProgress.course">Course</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.id"><span jhiTranslate="helloCodeApp.courseProgress.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastIssue.id"><span jhiTranslate="helloCodeApp.courseProgress.lastIssue">Last Issue</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let courseProgress of courseProgresses ;trackBy: trackId">
                <td><a [routerLink]="['../course-progress-h-code', courseProgress.id ]">{{courseProgress.id}}</a></td>
                <td>{{courseProgress.passedIssues}}</td>
                <td>{{courseProgress.totalIssues}}</td>
                <td>{{courseProgress.lastActivityDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="courseProgress.course">
                        <a [routerLink]="['../course-h-code', courseProgress.course?.id ]" >{{courseProgress.course?.id}}</a>
                    </div>
                </td>
                <td>
                    {{courseProgress.user?.id}}
                </td>
                <td>
                    <div *ngIf="courseProgress.lastIssue">
                        <a [routerLink]="['../course-issue-h-code', courseProgress.lastIssue?.id ]" >{{courseProgress.lastIssue?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../course-progress-h-code', courseProgress.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-progress-h-code/'+ courseProgress.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-progress-h-code/'+ courseProgress.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
