<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCourseProgressLabel" jhiTranslate="helloCodeApp.courseProgress.home.createOrEditLabel">Create or edit a Course Progress</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!courseProgress.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="courseProgress.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseProgress.passedIssues" for="field_passedIssues">Passed Issues</label>
            <input type="number" class="form-control" name="passedIssues" id="field_passedIssues"
                [(ngModel)]="courseProgress.passedIssues" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseProgress.totalIssues" for="field_totalIssues">Total Issues</label>
            <input type="number" class="form-control" name="totalIssues" id="field_totalIssues"
                [(ngModel)]="courseProgress.totalIssues" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseProgress.lastActivityDate" for="field_lastActivityDate">Last Activity Date</label>
            <div class="d-flex">
                <input id="field_lastActivityDate" type="datetime-local" class="form-control" name="lastActivityDate" [(ngModel)]="courseProgress.lastActivityDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseProgress.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" [(ngModel)]="courseProgress.course" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseOption.id === courseProgress.course?.id ? courseProgress.course : courseOption" *ngFor="let courseOption of courses; trackBy: trackCourseById">{{courseOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseProgress.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="courseProgress.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === courseProgress.user?.id ? courseProgress.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseProgress.lastIssue" for="field_lastIssue">Last Issue</label>
            <select class="form-control" id="field_lastIssue" name="lastIssue" [(ngModel)]="courseProgress.lastIssue" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseIssueOption.id === courseProgress.lastIssue?.id ? courseProgress.lastIssue : courseIssueOption" *ngFor="let courseIssueOption of courseissues; trackBy: trackCourseIssueById">{{courseIssueOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
