
<div *ngIf="category">
    <h2><span jhiTranslate="helloCodeApp.category.detail.title">Category</span> {{category.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.category.nameRu">Name Ru</span></dt>
        <dd>
            <span>{{category.nameRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.category.nameKk">Name Kk</span></dt>
        <dd>
            <span>{{category.nameKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.category.nameEn">Name En</span></dt>
        <dd>
            <span>{{category.nameEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.category.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{category.flagDeleted}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'category-h-code/'+ category.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
