<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTestResultLabel" jhiTranslate="helloCodeApp.testResult.home.createOrEditLabel">Create or edit a Test Result</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!testResult.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="testResult.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testResult.flagCorrect" for="field_flagCorrect">Flag Correct</label>
            <input type="checkbox" class="form-control" name="flagCorrect" id="field_flagCorrect"
                [(ngModel)]="testResult.flagCorrect" />
            <div [hidden]="!(editForm.controls.flagCorrect?.dirty && editForm.controls.flagCorrect?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.flagCorrect?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testResult.question" for="field_question">Question</label>
            <select class="form-control" id="field_question" name="question" [(ngModel)]="testResult.question" >
                <option [ngValue]="null"></option>
                <option [ngValue]="testQuestionOption.id === testResult.question?.id ? testResult.question : testQuestionOption" *ngFor="let testQuestionOption of testquestions; trackBy: trackTestQuestionById">{{testQuestionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testResult.response" for="field_response">Response</label>
            <select class="form-control" id="field_response" name="response" [(ngModel)]="testResult.response" >
                <option [ngValue]="null"></option>
                <option [ngValue]="testVariantOption.id === testResult.response?.id ? testResult.response : testVariantOption" *ngFor="let testVariantOption of testvariants; trackBy: trackTestVariantById">{{testVariantOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testResult.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="testResult.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === testResult.user?.id ? testResult.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
