
<div *ngIf="testResult">
    <h2><span jhiTranslate="helloCodeApp.testResult.detail.title">Test Result</span> {{testResult.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.testResult.flagCorrect">Flag Correct</span></dt>
        <dd>
            <span>{{testResult.flagCorrect}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testResult.question">Question</span></dt>
        <dd>
            <div *ngIf="testResult.question">
                <a [routerLink]="['/test-question-h-code', testResult.question?.id]">{{testResult.question?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testResult.response">Response</span></dt>
        <dd>
            <div *ngIf="testResult.response">
                <a [routerLink]="['/test-variant-h-code', testResult.response?.id]">{{testResult.response?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testResult.user">User</span></dt>
        <dd>
            {{testResult.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'test-result-h-code/'+ testResult.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
