<div>
    <h2>
        <span jhiTranslate="helloCodeApp.testResult.home.title">Test Results</span>
        <button class="btn btn-primary float-right jh-create-entity create-test-result-h-code" [routerLink]="['/', { outlets: { popup: ['test-result-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.testResult.home.createLabel">
            Create new Test Result
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.testResult.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="testResults">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="helloCodeApp.testResult.flagCorrect">Flag Correct</span></th>
            <th><span jhiTranslate="helloCodeApp.testResult.question">Question</span></th>
            <th><span jhiTranslate="helloCodeApp.testResult.response">Response</span></th>
            <th><span jhiTranslate="helloCodeApp.testResult.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let testResult of testResults ;trackBy: trackId">
                <td><a [routerLink]="['../test-result-h-code', testResult.id ]">{{testResult.id}}</a></td>
                <td>{{testResult.flagCorrect}}</td>
                <td>
                    <div *ngIf="testResult.question">
                        <a [routerLink]="['../test-question-h-code', testResult.question?.id ]" >{{testResult.question?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="testResult.response">
                        <a [routerLink]="['../test-variant-h-code', testResult.response?.id ]" >{{testResult.response?.id}}</a>
                    </div>
                </td>
                <td>
                    {{testResult.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../test-result-h-code', testResult.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-result-h-code/'+ testResult.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-result-h-code/'+ testResult.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
