
<div *ngIf="testVariant">
    <h2><span jhiTranslate="helloCodeApp.testVariant.detail.title">Test Variant</span> {{testVariant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.testVariant.bodyRu">Body Ru</span></dt>
        <dd>
            <span>{{testVariant.bodyRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testVariant.bodyKk">Body Kk</span></dt>
        <dd>
            <span>{{testVariant.bodyKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testVariant.bodyEn">Body En</span></dt>
        <dd>
            <span>{{testVariant.bodyEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testVariant.flagCorrect">Flag Correct</span></dt>
        <dd>
            <span>{{testVariant.flagCorrect}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testVariant.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{testVariant.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.testVariant.question">Question</span></dt>
        <dd>
            <div *ngIf="testVariant.question">
                <a [routerLink]="['/test-question-h-code', testVariant.question?.id]">{{testVariant.question?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'test-variant-h-code/'+ testVariant.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
