<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTestVariantLabel" jhiTranslate="helloCodeApp.testVariant.home.createOrEditLabel">Create or edit a Test Variant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!testVariant.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="testVariant.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testVariant.bodyRu" for="field_bodyRu">Body Ru</label>
            <input type="text" class="form-control" name="bodyRu" id="field_bodyRu"
                [(ngModel)]="testVariant.bodyRu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testVariant.bodyKk" for="field_bodyKk">Body Kk</label>
            <input type="text" class="form-control" name="bodyKk" id="field_bodyKk"
                [(ngModel)]="testVariant.bodyKk" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testVariant.bodyEn" for="field_bodyEn">Body En</label>
            <input type="text" class="form-control" name="bodyEn" id="field_bodyEn"
                [(ngModel)]="testVariant.bodyEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testVariant.flagCorrect" for="field_flagCorrect">Flag Correct</label>
            <input type="checkbox" class="form-control" name="flagCorrect" id="field_flagCorrect"
                [(ngModel)]="testVariant.flagCorrect" />
            <div [hidden]="!(editForm.controls.flagCorrect?.dirty && editForm.controls.flagCorrect?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.flagCorrect?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testVariant.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
            <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                [(ngModel)]="testVariant.flagDeleted" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.testVariant.question" for="field_question">Question</label>
            <select class="form-control" id="field_question" name="question" [(ngModel)]="testVariant.question" >
                <option [ngValue]="null"></option>
                <option [ngValue]="testQuestionOption.id === testVariant.question?.id ? testVariant.question : testQuestionOption" *ngFor="let testQuestionOption of testquestions; trackBy: trackTestQuestionById">{{testQuestionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
