<div>
    <h2>
        <span jhiTranslate="helloCodeApp.testVariant.home.title">Test Variants</span>
        <button class="btn btn-primary float-right jh-create-entity create-test-variant-h-code" [routerLink]="['/', { outlets: { popup: ['test-variant-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.testVariant.home.createLabel">
            Create new Test Variant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.testVariant.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="testVariants">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="helloCodeApp.testVariant.bodyRu">Body Ru</span></th>
            <th><span jhiTranslate="helloCodeApp.testVariant.bodyKk">Body Kk</span></th>
            <th><span jhiTranslate="helloCodeApp.testVariant.bodyEn">Body En</span></th>
            <th><span jhiTranslate="helloCodeApp.testVariant.flagCorrect">Flag Correct</span></th>
            <th><span jhiTranslate="helloCodeApp.testVariant.flagDeleted">Flag Deleted</span></th>
            <th><span jhiTranslate="helloCodeApp.testVariant.question">Question</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let testVariant of testVariants ;trackBy: trackId">
                <td><a [routerLink]="['../test-variant-h-code', testVariant.id ]">{{testVariant.id}}</a></td>
                <td>{{testVariant.bodyRu}}</td>
                <td>{{testVariant.bodyKk}}</td>
                <td>{{testVariant.bodyEn}}</td>
                <td>{{testVariant.flagCorrect}}</td>
                <td>{{testVariant.flagDeleted}}</td>
                <td>
                    <div *ngIf="testVariant.question">
                        <a [routerLink]="['../test-question-h-code', testVariant.question?.id ]" >{{testVariant.question?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../test-variant-h-code', testVariant.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-variant-h-code/'+ testVariant.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-variant-h-code/'+ testVariant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
