<div>
    <h2>
        <span jhiTranslate="helloCodeApp.courseIssue.home.title">Course Issues</span>
        <button class="btn btn-primary float-right jh-create-entity create-course-issue-h-code" [routerLink]="['/', { outlets: { popup: ['course-issue-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.courseIssue.home.createLabel">
            Create new Course Issue
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.courseIssue.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="courseIssues">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="issueType"><span jhiTranslate="helloCodeApp.courseIssue.issueType">Issue Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameRu"><span jhiTranslate="helloCodeApp.courseIssue.nameRu">Name Ru</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameKk"><span jhiTranslate="helloCodeApp.courseIssue.nameKk">Name Kk</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameEn"><span jhiTranslate="helloCodeApp.courseIssue.nameEn">Name En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="noteRu"><span jhiTranslate="helloCodeApp.courseIssue.noteRu">Note Ru</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="noteKk"><span jhiTranslate="helloCodeApp.courseIssue.noteKk">Note Kk</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="noteEn"><span jhiTranslate="helloCodeApp.courseIssue.noteEn">Note En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="order"><span jhiTranslate="helloCodeApp.courseIssue.order">Order</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flagDeleted"><span jhiTranslate="helloCodeApp.courseIssue.flagDeleted">Flag Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="chapter.id"><span jhiTranslate="helloCodeApp.courseIssue.chapter">Chapter</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="course.id"><span jhiTranslate="helloCodeApp.courseIssue.course">Course</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let courseIssue of courseIssues ;trackBy: trackId">
                <td><a [routerLink]="['../course-issue-h-code', courseIssue.id ]">{{courseIssue.id}}</a></td>
                <td jhiTranslate="{{'helloCodeApp.IssueType.' + courseIssue.issueType}}">{{courseIssue.issueType}}</td>
                <td>{{courseIssue.nameRu}}</td>
                <td>{{courseIssue.nameKk}}</td>
                <td>{{courseIssue.nameEn}}</td>
                <td>{{courseIssue.noteRu}}</td>
                <td>{{courseIssue.noteKk}}</td>
                <td>{{courseIssue.noteEn}}</td>
                <td>{{courseIssue.order}}</td>
                <td>{{courseIssue.flagDeleted}}</td>
                <td>
                    <div *ngIf="courseIssue.chapter">
                        <a [routerLink]="['../course-chapter-h-code', courseIssue.chapter?.id ]" >{{courseIssue.chapter?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="courseIssue.course">
                        <a [routerLink]="['../course-h-code', courseIssue.course?.id ]" >{{courseIssue.course?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../course-issue-h-code', courseIssue.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-issue-h-code/'+ courseIssue.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-issue-h-code/'+ courseIssue.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
