
<div *ngIf="courseIssue">
    <h2><span jhiTranslate="helloCodeApp.courseIssue.detail.title">Course Issue</span> {{courseIssue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.courseIssue.issueType">Issue Type</span></dt>
        <dd>
            <span jhiTranslate="{{'helloCodeApp.IssueType.' + courseIssue.issueType}}">{{courseIssue.issueType}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseIssue.nameRu">Name Ru</span></dt>
        <dd>
            <span>{{courseIssue.nameRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseIssue.nameKk">Name Kk</span></dt>
        <dd>
            <span>{{courseIssue.nameKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseIssue.nameEn">Name En</span></dt>
        <dd>
            <span>{{courseIssue.nameEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseIssue.noteRu">Note Ru</span></dt>
        <dd>
            <span>{{courseIssue.noteRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseIssue.noteKk">Note Kk</span></dt>
        <dd>
            <span>{{courseIssue.noteKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseIssue.noteEn">Note En</span></dt>
        <dd>
            <span>{{courseIssue.noteEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseIssue.order">Order</span></dt>
        <dd>
            <span>{{courseIssue.order}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseIssue.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{courseIssue.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseIssue.chapter">Chapter</span></dt>
        <dd>
            <div *ngIf="courseIssue.chapter">
                <a [routerLink]="['/course-chapter-h-code', courseIssue.chapter?.id]">{{courseIssue.chapter?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.courseIssue.course">Course</span></dt>
        <dd>
            <div *ngIf="courseIssue.course">
                <a [routerLink]="['/course-h-code', courseIssue.course?.id]">{{courseIssue.course?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'course-issue-h-code/'+ courseIssue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
