<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCourseIssueLabel" jhiTranslate="helloCodeApp.courseIssue.home.createOrEditLabel">Create or edit a Course Issue</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!courseIssue.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="courseIssue.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseIssue.issueType" for="field_issueType">Issue Type</label>
            <select class="form-control" name="issueType" [(ngModel)]="courseIssue.issueType" id="field_issueType"  required>
                <option value="VIDEO">{{'helloCodeApp.IssueType.VIDEO' | translate}}</option>
                <option value="TEST">{{'helloCodeApp.IssueType.TEST' | translate}}</option>
                <option value="TEXT">{{'helloCodeApp.IssueType.TEXT' | translate}}</option>
                <option value="WEBINAR">{{'helloCodeApp.IssueType.WEBINAR' | translate}}</option>
                <option value="SKRATCH">{{'helloCodeApp.IssueType.SKRATCH' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.issueType?.dirty && editForm.controls.issueType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.issueType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseIssue.nameRu" for="field_nameRu">Name Ru</label>
            <input type="text" class="form-control" name="nameRu" id="field_nameRu"
                [(ngModel)]="courseIssue.nameRu" required/>
            <div [hidden]="!(editForm.controls.nameRu?.dirty && editForm.controls.nameRu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameRu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseIssue.nameKk" for="field_nameKk">Name Kk</label>
            <input type="text" class="form-control" name="nameKk" id="field_nameKk"
                [(ngModel)]="courseIssue.nameKk" required/>
            <div [hidden]="!(editForm.controls.nameKk?.dirty && editForm.controls.nameKk?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameKk?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseIssue.nameEn" for="field_nameEn">Name En</label>
            <input type="text" class="form-control" name="nameEn" id="field_nameEn"
                [(ngModel)]="courseIssue.nameEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseIssue.noteRu" for="field_noteRu">Note Ru</label>
            <input type="text" class="form-control" name="noteRu" id="field_noteRu"
                [(ngModel)]="courseIssue.noteRu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseIssue.noteKk" for="field_noteKk">Note Kk</label>
            <input type="text" class="form-control" name="noteKk" id="field_noteKk"
                [(ngModel)]="courseIssue.noteKk" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseIssue.noteEn" for="field_noteEn">Note En</label>
            <input type="text" class="form-control" name="noteEn" id="field_noteEn"
                [(ngModel)]="courseIssue.noteEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseIssue.order" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                [(ngModel)]="courseIssue.order" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseIssue.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
            <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                [(ngModel)]="courseIssue.flagDeleted" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseIssue.chapter" for="field_chapter">Chapter</label>
            <select class="form-control" id="field_chapter" name="chapter" [(ngModel)]="courseIssue.chapter" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseChapterOption.id === courseIssue.chapter?.id ? courseIssue.chapter : courseChapterOption" *ngFor="let courseChapterOption of coursechapters; trackBy: trackCourseChapterById">{{courseChapterOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.courseIssue.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" [(ngModel)]="courseIssue.course" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseOption.id === courseIssue.course?.id ? courseIssue.course : courseOption" *ngFor="let courseOption of courses; trackBy: trackCourseById">{{courseOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
