
<div *ngIf="webinarIssue">
    <h2><span jhiTranslate="helloCodeApp.webinarIssue.detail.title">Webinar Issue</span> {{webinarIssue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.webinarIssue.url">Url</span></dt>
        <dd>
            <span>{{webinarIssue.url}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.webinarIssue.key">Key</span></dt>
        <dd>
            <span>{{webinarIssue.key}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.webinarIssue.cabinte">Cabinte</span></dt>
        <dd>
            <span>{{webinarIssue.cabinte}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.webinarIssue.note">Note</span></dt>
        <dd>
            <span>{{webinarIssue.note}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.webinarIssue.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{webinarIssue.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.webinarIssue.issue">Issue</span></dt>
        <dd>
            <div *ngIf="webinarIssue.issue">
                <a [routerLink]="['/course-issue-h-code', webinarIssue.issue?.id]">{{webinarIssue.issue?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'webinar-issue-h-code/'+ webinarIssue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
