
<div *ngIf="program">
    <h2><span jhiTranslate="helloCodeApp.program.detail.title">Program</span> {{program.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.program.nameRu">Name Ru</span></dt>
        <dd>
            <span>{{program.nameRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.program.nameKk">Name Kk</span></dt>
        <dd>
            <span>{{program.nameKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.program.nameEn">Name En</span></dt>
        <dd>
            <span>{{program.nameEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.program.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{program.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.program.school">School</span></dt>
        <dd>
            <div *ngIf="program.school">
                <a [routerLink]="['/school-h-code', program.school?.id]">{{program.school?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.program.course">Course</span></dt>
        <dd>
            <span *ngFor="let course of program.courses; let last = last">
                <a [routerLink]="['/course-h-code', course?.id ]">{{course.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.program.grade">Grade</span></dt>
        <dd>
            <span *ngFor="let grade of program.grades; let last = last">
                <a [routerLink]="['/grade-h-code', grade?.id ]">{{grade.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'program-h-code/'+ program.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
