<div>
    <h2>
        <span jhiTranslate="helloCodeApp.program.home.title">Programs</span>
        <button class="btn btn-primary float-right jh-create-entity create-program-h-code" [routerLink]="['/', { outlets: { popup: ['program-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.program.home.createLabel">
            Create new Program
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.program.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="programs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameRu"><span jhiTranslate="helloCodeApp.program.nameRu">Name Ru</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameKk"><span jhiTranslate="helloCodeApp.program.nameKk">Name Kk</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameEn"><span jhiTranslate="helloCodeApp.program.nameEn">Name En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flagDeleted"><span jhiTranslate="helloCodeApp.program.flagDeleted">Flag Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="school.id"><span jhiTranslate="helloCodeApp.program.school">School</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let program of programs ;trackBy: trackId">
                <td><a [routerLink]="['../program-h-code', program.id ]">{{program.id}}</a></td>
                <td>{{program.nameRu}}</td>
                <td>{{program.nameKk}}</td>
                <td>{{program.nameEn}}</td>
                <td>{{program.flagDeleted}}</td>
                <td>
                    <div *ngIf="program.school">
                        <a [routerLink]="['../school-h-code', program.school?.id ]" >{{program.school?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../program-h-code', program.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'program-h-code/'+ program.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'program-h-code/'+ program.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="programs && programs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
