<div class="row mb-3">
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" [src]="slide1" alt="First slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-10 offset-md-1">
        <h2>Добро пожаловать, {{account.login}}!</h2>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-header">
                Продолжить обучение
                <span class="float-right"><a href="#">Мои курсы</a></span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="jumbotron jumbotron-one-padding">
                            <div class="row">
                                <div class="col-md-4">
                                    <img [src]="img1" width="100%"/>
                                </div>
                                <div class="col-md-8">
                                    <p class="lead">Master Hibernate and JPA with Spring Boot in 100 Steps</p>
                                    <div class="progress progress-dark">
                                        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>By in 28 Minutes Official</p>
                                    <p class="lead">
                                        <a class="btn btn-danger" href="#" role="button">Learn more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="jumbotron jumbotron-one-padding">
                            <div class="row">
                                <div class="col-md-4">
                                    <img [src]="img1" width="100%"/>
                                </div>
                                <div class="col-md-8">
                                    <p class="lead">Master Hibernate and JPA with Spring Boot in 100 Steps</p>
                                    <div class="progress progress-dark">
                                        <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>By in 28 Minutes Official</p>
                                    <p class="lead">
                                        <a class="btn btn-danger" href="#" role="button">Learn more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-10 offset-md-1">
        <div class="clearfix">
            <h3 class="float-left">Программа для 4 класса</h3>
            <a href="#" class="float-right">Смотреть все</a>
        </div>
        <div class="card card-inline" style="width: 16rem;">
            <img class="card-img-top" [src]="img2" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Blockchain programming using Javascript</h5>
                <p class="card-text">Гульмира апай</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">4 класс</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Посмотреть</a>
            </div>
        </div>
        <div class="card card-inline" style="width: 16rem;">
            <img class="card-img-top" [src]="img2" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Blockchain programming using Javascript</h5>
                <p class="card-text">Гульмира апай</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">4 класс</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Посмотреть</a>
            </div>
        </div>
        <div class="card card-inline" style="width: 16rem;">
            <img class="card-img-top" [src]="img2" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Blockchain programming using Javascript</h5>
                <p class="card-text">Гульмира апай</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">4 класс</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Посмотреть</a>
            </div>
        </div>
        <div class="card card-inline" style="width: 16rem;">
            <img class="card-img-top" [src]="img2" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Blockchain programming using Javascript</h5>
                <p class="card-text">Гульмира апай</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">4 класс</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Посмотреть</a>
            </div>
        </div>
        <div class="card card-inline" style="width: 16rem;">
            <img class="card-img-top" [src]="img2" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Blockchain programming using Javascript</h5>
                <p class="card-text">Гульмира апай</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">4 класс</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Посмотреть</a>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <!--<div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>-->
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-body">
                <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
                <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

                <div [ngSwitch]="isAuthenticated()">
                    <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
                    </div>

                    <div class="alert alert-warning" *ngSwitchCase="false">
                        <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
                    </div>
                    <div class="alert alert-warning" *ngSwitchCase="false">
                        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                        <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                    </div>
                </div>

                <p jhiTranslate="home.question">
                    If you have any question on JHipster:
                </p>

                <ul>
                    <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
                    <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
                    <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
                    <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
                    <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li>
                </ul>

                <p>
                    <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.github">GitHub</a>!
                </p>
            </div>
        </div>
    </div>
</div>
