
<div *ngIf="activityStatusHistory">
    <h2><span jhiTranslate="helloCodeApp.activityStatusHistory.detail.title">Activity Status History</span> {{activityStatusHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.activityStatusHistory.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'helloCodeApp.ActivityStatus.' + activityStatusHistory.status}}">{{activityStatusHistory.status}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.activityStatusHistory.startedDate">Started Date</span></dt>
        <dd>
            <span>{{activityStatusHistory.startedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.activityStatusHistory.finishedDate">Finished Date</span></dt>
        <dd>
            <span>{{activityStatusHistory.finishedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.activityStatusHistory.activity">Activity</span></dt>
        <dd>
            <div *ngIf="activityStatusHistory.activity">
                <a [routerLink]="['/learner-activity-h-code', activityStatusHistory.activity?.id]">{{activityStatusHistory.activity?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.activityStatusHistory.activityResult">Activity Result</span></dt>
        <dd>
            <div *ngIf="activityStatusHistory.activityResult">
                <a [routerLink]="['/activity-result-h-code', activityStatusHistory.activityResult?.id]">{{activityStatusHistory.activityResult?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'activity-status-history-h-code/'+ activityStatusHistory.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
