<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myActivityStatusHistoryLabel" jhiTranslate="helloCodeApp.activityStatusHistory.home.createOrEditLabel">Create or edit a Activity Status History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!activityStatusHistory.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="activityStatusHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.activityStatusHistory.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="activityStatusHistory.status" id="field_status" >
                <option value="IN_PROGRESS">{{'helloCodeApp.ActivityStatus.IN_PROGRESS' | translate}}</option>
                <option value="SKIPPED">{{'helloCodeApp.ActivityStatus.SKIPPED' | translate}}</option>
                <option value="PASSED">{{'helloCodeApp.ActivityStatus.PASSED' | translate}}</option>
                <option value="FAILED">{{'helloCodeApp.ActivityStatus.FAILED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.activityStatusHistory.startedDate" for="field_startedDate">Started Date</label>
            <div class="d-flex">
                <input id="field_startedDate" type="datetime-local" class="form-control" name="startedDate" [(ngModel)]="activityStatusHistory.startedDate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.startedDate?.dirty && editForm.controls.startedDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.startedDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.startedDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.activityStatusHistory.finishedDate" for="field_finishedDate">Finished Date</label>
            <div class="d-flex">
                <input id="field_finishedDate" type="datetime-local" class="form-control" name="finishedDate" [(ngModel)]="activityStatusHistory.finishedDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.activityStatusHistory.activity" for="field_activity">Activity</label>
            <select class="form-control" id="field_activity" name="activity" [(ngModel)]="activityStatusHistory.activity" >
                <option [ngValue]="null"></option>
                <option [ngValue]="learnerActivityOption.id === activityStatusHistory.activity?.id ? activityStatusHistory.activity : learnerActivityOption" *ngFor="let learnerActivityOption of learneractivities; trackBy: trackLearnerActivityById">{{learnerActivityOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.activityStatusHistory.activityResult" for="field_activityResult">Activity Result</label>
            <select class="form-control" id="field_activityResult" name="activityResult" [(ngModel)]="activityStatusHistory.activityResult" >
                <option [ngValue]="null"></option>
                <option [ngValue]="activityResultOption.id === activityStatusHistory.activityResult?.id ? activityStatusHistory.activityResult : activityResultOption" *ngFor="let activityResultOption of activityresults; trackBy: trackActivityResultById">{{activityResultOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
