<div>
    <h2>
        <span jhiTranslate="helloCodeApp.activityStatusHistory.home.title">Activity Status Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-activity-status-history-h-code" [routerLink]="['/', { outlets: { popup: ['activity-status-history-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.activityStatusHistory.home.createLabel">
            Create new Activity Status History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.activityStatusHistory.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="activityStatusHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="helloCodeApp.activityStatusHistory.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startedDate"><span jhiTranslate="helloCodeApp.activityStatusHistory.startedDate">Started Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="finishedDate"><span jhiTranslate="helloCodeApp.activityStatusHistory.finishedDate">Finished Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activity.id"><span jhiTranslate="helloCodeApp.activityStatusHistory.activity">Activity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activityResult.id"><span jhiTranslate="helloCodeApp.activityStatusHistory.activityResult">Activity Result</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activityStatusHistory of activityStatusHistories ;trackBy: trackId">
                <td><a [routerLink]="['../activity-status-history-h-code', activityStatusHistory.id ]">{{activityStatusHistory.id}}</a></td>
                <td jhiTranslate="{{'helloCodeApp.ActivityStatus.' + activityStatusHistory.status}}">{{activityStatusHistory.status}}</td>
                <td>{{activityStatusHistory.startedDate | date:'medium'}}</td>
                <td>{{activityStatusHistory.finishedDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="activityStatusHistory.activity">
                        <a [routerLink]="['../learner-activity-h-code', activityStatusHistory.activity?.id ]" >{{activityStatusHistory.activity?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="activityStatusHistory.activityResult">
                        <a [routerLink]="['../activity-result-h-code', activityStatusHistory.activityResult?.id ]" >{{activityStatusHistory.activityResult?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../activity-status-history-h-code', activityStatusHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity-status-history-h-code/'+ activityStatusHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity-status-history-h-code/'+ activityStatusHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="activityStatusHistories && activityStatusHistories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
