<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCourseLabel" jhiTranslate="helloCodeApp.course.home.createOrEditLabel">Create or edit a Course</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!course.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="course.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.totalIssues" for="field_totalIssues">Total Issues</label>
            <input type="number" class="form-control" name="totalIssues" id="field_totalIssues"
                [(ngModel)]="course.totalIssues" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.lecturesAmount" for="field_lecturesAmount">Lectures Amount</label>
            <input type="number" class="form-control" name="lecturesAmount" id="field_lecturesAmount"
                [(ngModel)]="course.lecturesAmount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.videoDuration" for="field_videoDuration">Video Duration</label>
            <input type="number" class="form-control" name="videoDuration" id="field_videoDuration"
                [(ngModel)]="course.videoDuration" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.nameRu" for="field_nameRu">Name Ru</label>
            <input type="text" class="form-control" name="nameRu" id="field_nameRu"
                [(ngModel)]="course.nameRu" required/>
            <div [hidden]="!(editForm.controls.nameRu?.dirty && editForm.controls.nameRu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameRu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.nameKk" for="field_nameKk">Name Kk</label>
            <input type="text" class="form-control" name="nameKk" id="field_nameKk"
                [(ngModel)]="course.nameKk" required/>
            <div [hidden]="!(editForm.controls.nameKk?.dirty && editForm.controls.nameKk?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameKk?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.nameEn" for="field_nameEn">Name En</label>
            <input type="text" class="form-control" name="nameEn" id="field_nameEn"
                [(ngModel)]="course.nameEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.descriptionRu" for="field_descriptionRu">Description Ru</label>
            <input type="text" class="form-control" name="descriptionRu" id="field_descriptionRu"
                [(ngModel)]="course.descriptionRu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.descriptionKk" for="field_descriptionKk">Description Kk</label>
            <input type="text" class="form-control" name="descriptionKk" id="field_descriptionKk"
                [(ngModel)]="course.descriptionKk" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.descriptionEn" for="field_descriptionEn">Description En</label>
            <input type="text" class="form-control" name="descriptionEn" id="field_descriptionEn"
                [(ngModel)]="course.descriptionEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.briefRu" for="field_briefRu">Brief Ru</label>
            <input type="text" class="form-control" name="briefRu" id="field_briefRu"
                [(ngModel)]="course.briefRu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.briefKk" for="field_briefKk">Brief Kk</label>
            <input type="text" class="form-control" name="briefKk" id="field_briefKk"
                [(ngModel)]="course.briefKk" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.briefEn" for="field_briefEn">Brief En</label>
            <input type="text" class="form-control" name="briefEn" id="field_briefEn"
                [(ngModel)]="course.briefEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
            <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                [(ngModel)]="course.flagDeleted" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + course.imageContentType + ';base64,' + course.image" style="max-height: 100px;" *ngIf="course.image" alt="course image"/>
                <div *ngIf="course.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{course.imageContentType}}, {{byteSize(course.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, course, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="course.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="course.imageContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.course.lecturer" for="field_lecturer">Lecturer</label>
            <select class="form-control" id="field_lecturer" name="lecturer" [(ngModel)]="course.lecturer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === course.lecturer?.id ? course.lecturer : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="helloCodeApp.course.grade" for="field_grade">Grade</label>
            <select class="form-control" id="field_grade" multiple name="grade" [(ngModel)]="course.grades">
                <option [ngValue]="getSelected(course.grades, gradeOption)" *ngFor="let gradeOption of grades; trackBy: trackGradeById">{{gradeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="helloCodeApp.course.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" multiple name="category" [(ngModel)]="course.categories">
                <option [ngValue]="getSelected(course.categories, categoryOption)" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
