
<div *ngIf="course">
    <h2><span jhiTranslate="helloCodeApp.course.detail.title">Course</span> {{course.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.course.totalIssues">Total Issues</span></dt>
        <dd>
            <span>{{course.totalIssues}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.lecturesAmount">Lectures Amount</span></dt>
        <dd>
            <span>{{course.lecturesAmount}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.videoDuration">Video Duration</span></dt>
        <dd>
            <span>{{course.videoDuration}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.nameRu">Name Ru</span></dt>
        <dd>
            <span>{{course.nameRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.nameKk">Name Kk</span></dt>
        <dd>
            <span>{{course.nameKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.nameEn">Name En</span></dt>
        <dd>
            <span>{{course.nameEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.descriptionRu">Description Ru</span></dt>
        <dd>
            <span>{{course.descriptionRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.descriptionKk">Description Kk</span></dt>
        <dd>
            <span>{{course.descriptionKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.descriptionEn">Description En</span></dt>
        <dd>
            <span>{{course.descriptionEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.briefRu">Brief Ru</span></dt>
        <dd>
            <span>{{course.briefRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.briefKk">Brief Kk</span></dt>
        <dd>
            <span>{{course.briefKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.briefEn">Brief En</span></dt>
        <dd>
            <span>{{course.briefEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.flagDeleted">Flag Deleted</span></dt>
        <dd>
            <span>{{course.flagDeleted}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.image">Image</span></dt>
        <dd>
            <div *ngIf="course.image">
                <a (click)="openFile(course.imageContentType, course.image)">
                    <img [src]="'data:' + course.imageContentType + ';base64,' + course.image" style="max-width: 100%;" alt="course image"/>
                </a>
                {{course.imageContentType}}, {{byteSize(course.image)}}
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.lecturer">Lecturer</span></dt>
        <dd>
            {{course.lecturer?.id}}
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.grade">Grade</span></dt>
        <dd>
            <span *ngFor="let grade of course.grades; let last = last">
                <a [routerLink]="['/grade-h-code', grade?.id ]">{{grade.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.course.category">Category</span></dt>
        <dd>
            <span *ngFor="let category of course.categories; let last = last">
                <a [routerLink]="['/category-h-code', category?.id ]">{{category.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'course-h-code/'+ course.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
