<div>
    <h2>
        <span jhiTranslate="helloCodeApp.course.home.title">Courses</span>
        <button class="btn btn-primary float-right jh-create-entity create-course-h-code" [routerLink]="['/', { outlets: { popup: ['course-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.course.home.createLabel">
            Create new Course
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.course.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="courses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalIssues"><span jhiTranslate="helloCodeApp.course.totalIssues">Total Issues</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lecturesAmount"><span jhiTranslate="helloCodeApp.course.lecturesAmount">Lectures Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="videoDuration"><span jhiTranslate="helloCodeApp.course.videoDuration">Video Duration</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameRu"><span jhiTranslate="helloCodeApp.course.nameRu">Name Ru</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameKk"><span jhiTranslate="helloCodeApp.course.nameKk">Name Kk</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameEn"><span jhiTranslate="helloCodeApp.course.nameEn">Name En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descriptionRu"><span jhiTranslate="helloCodeApp.course.descriptionRu">Description Ru</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descriptionKk"><span jhiTranslate="helloCodeApp.course.descriptionKk">Description Kk</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descriptionEn"><span jhiTranslate="helloCodeApp.course.descriptionEn">Description En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="briefRu"><span jhiTranslate="helloCodeApp.course.briefRu">Brief Ru</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="briefKk"><span jhiTranslate="helloCodeApp.course.briefKk">Brief Kk</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="briefEn"><span jhiTranslate="helloCodeApp.course.briefEn">Brief En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="flagDeleted"><span jhiTranslate="helloCodeApp.course.flagDeleted">Flag Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="image"><span jhiTranslate="helloCodeApp.course.image">Image</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lecturer.id"><span jhiTranslate="helloCodeApp.course.lecturer">Lecturer</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let course of courses ;trackBy: trackId">
                <td><a [routerLink]="['../course-h-code', course.id ]">{{course.id}}</a></td>
                <td>{{course.totalIssues}}</td>
                <td>{{course.lecturesAmount}}</td>
                <td>{{course.videoDuration}}</td>
                <td>{{course.nameRu}}</td>
                <td>{{course.nameKk}}</td>
                <td>{{course.nameEn}}</td>
                <td>{{course.descriptionRu}}</td>
                <td>{{course.descriptionKk}}</td>
                <td>{{course.descriptionEn}}</td>
                <td>{{course.briefRu}}</td>
                <td>{{course.briefKk}}</td>
                <td>{{course.briefEn}}</td>
                <td>{{course.flagDeleted}}</td>
                <td>
                    <a *ngIf="course.image" (click)="openFile(course.imageContentType, course.image)">
                        <img [src]="'data:' + course.imageContentType + ';base64,' + course.image" style="max-height: 30px;" alt="course image"/>
                    </a>
                    <span *ngIf="course.image">{{course.imageContentType}}, {{byteSize(course.image)}}</span>
                </td>
                <td>
                    {{course.lecturer?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../course-h-code', course.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-h-code/'+ course.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-h-code/'+ course.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="courses && courses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
