
<div *ngIf="learnerGroup">
    <h2><span jhiTranslate="helloCodeApp.learnerGroup.detail.title">Learner Group</span> {{learnerGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="helloCodeApp.learnerGroup.nameRu">Name Ru</span></dt>
        <dd>
            <span>{{learnerGroup.nameRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerGroup.nameKk">Name Kk</span></dt>
        <dd>
            <span>{{learnerGroup.nameKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerGroup.nameEn">Name En</span></dt>
        <dd>
            <span>{{learnerGroup.nameEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerGroup.descriptionRu">Description Ru</span></dt>
        <dd>
            <span>{{learnerGroup.descriptionRu}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerGroup.descriptionKk">Description Kk</span></dt>
        <dd>
            <span>{{learnerGroup.descriptionKk}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerGroup.desciprtionEn">Desciprtion En</span></dt>
        <dd>
            <span>{{learnerGroup.desciprtionEn}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerGroup.graduationYear">Graduation Year</span></dt>
        <dd>
            <span>{{learnerGroup.graduationYear}}</span>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerGroup.teacher">Teacher</span></dt>
        <dd>
            {{learnerGroup.teacher?.id}}
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerGroup.school">School</span></dt>
        <dd>
            <div *ngIf="learnerGroup.school">
                <a [routerLink]="['/school-h-code', learnerGroup.school?.id]">{{learnerGroup.school?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerGroup.grade">Grade</span></dt>
        <dd>
            <div *ngIf="learnerGroup.grade">
                <a [routerLink]="['/grade-h-code', learnerGroup.grade?.id]">{{learnerGroup.grade?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="helloCodeApp.learnerGroup.learner">Learner</span></dt>
        <dd>
            <span *ngFor="let learner of learnerGroup.learners; let last = last">
                {{learner.id}}{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'learner-group-h-code/'+ learnerGroup.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
