<div>
    <h2>
        <span jhiTranslate="helloCodeApp.learnerGroup.home.title">Learner Groups</span>
        <button class="btn btn-primary float-right jh-create-entity create-learner-group-h-code" [routerLink]="['/', { outlets: { popup: ['learner-group-h-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="helloCodeApp.learnerGroup.home.createLabel">
            Create new Learner Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'helloCodeApp.learnerGroup.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="learnerGroups">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameRu"><span jhiTranslate="helloCodeApp.learnerGroup.nameRu">Name Ru</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameKk"><span jhiTranslate="helloCodeApp.learnerGroup.nameKk">Name Kk</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameEn"><span jhiTranslate="helloCodeApp.learnerGroup.nameEn">Name En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descriptionRu"><span jhiTranslate="helloCodeApp.learnerGroup.descriptionRu">Description Ru</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descriptionKk"><span jhiTranslate="helloCodeApp.learnerGroup.descriptionKk">Description Kk</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="desciprtionEn"><span jhiTranslate="helloCodeApp.learnerGroup.desciprtionEn">Desciprtion En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="graduationYear"><span jhiTranslate="helloCodeApp.learnerGroup.graduationYear">Graduation Year</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="teacher.id"><span jhiTranslate="helloCodeApp.learnerGroup.teacher">Teacher</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="school.id"><span jhiTranslate="helloCodeApp.learnerGroup.school">School</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="grade.id"><span jhiTranslate="helloCodeApp.learnerGroup.grade">Grade</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let learnerGroup of learnerGroups ;trackBy: trackId">
                <td><a [routerLink]="['../learner-group-h-code', learnerGroup.id ]">{{learnerGroup.id}}</a></td>
                <td>{{learnerGroup.nameRu}}</td>
                <td>{{learnerGroup.nameKk}}</td>
                <td>{{learnerGroup.nameEn}}</td>
                <td>{{learnerGroup.descriptionRu}}</td>
                <td>{{learnerGroup.descriptionKk}}</td>
                <td>{{learnerGroup.desciprtionEn}}</td>
                <td>{{learnerGroup.graduationYear}}</td>
                <td>
                    {{learnerGroup.teacher?.id}}
                </td>
                <td>
                    <div *ngIf="learnerGroup.school">
                        <a [routerLink]="['../school-h-code', learnerGroup.school?.id ]" >{{learnerGroup.school?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="learnerGroup.grade">
                        <a [routerLink]="['../grade-h-code', learnerGroup.grade?.id ]" >{{learnerGroup.grade?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../learner-group-h-code', learnerGroup.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'learner-group-h-code/'+ learnerGroup.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'learner-group-h-code/'+ learnerGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="learnerGroups && learnerGroups.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
