<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLearnerGroupLabel" jhiTranslate="helloCodeApp.learnerGroup.home.createOrEditLabel">Create or edit a Learner Group</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!learnerGroup.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="learnerGroup.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerGroup.nameRu" for="field_nameRu">Name Ru</label>
            <input type="text" class="form-control" name="nameRu" id="field_nameRu"
                [(ngModel)]="learnerGroup.nameRu" required/>
            <div [hidden]="!(editForm.controls.nameRu?.dirty && editForm.controls.nameRu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameRu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerGroup.nameKk" for="field_nameKk">Name Kk</label>
            <input type="text" class="form-control" name="nameKk" id="field_nameKk"
                [(ngModel)]="learnerGroup.nameKk" required/>
            <div [hidden]="!(editForm.controls.nameKk?.dirty && editForm.controls.nameKk?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameKk?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerGroup.nameEn" for="field_nameEn">Name En</label>
            <input type="text" class="form-control" name="nameEn" id="field_nameEn"
                [(ngModel)]="learnerGroup.nameEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerGroup.descriptionRu" for="field_descriptionRu">Description Ru</label>
            <input type="text" class="form-control" name="descriptionRu" id="field_descriptionRu"
                [(ngModel)]="learnerGroup.descriptionRu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerGroup.descriptionKk" for="field_descriptionKk">Description Kk</label>
            <input type="text" class="form-control" name="descriptionKk" id="field_descriptionKk"
                [(ngModel)]="learnerGroup.descriptionKk" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerGroup.desciprtionEn" for="field_desciprtionEn">Desciprtion En</label>
            <input type="text" class="form-control" name="desciprtionEn" id="field_desciprtionEn"
                [(ngModel)]="learnerGroup.desciprtionEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerGroup.graduationYear" for="field_graduationYear">Graduation Year</label>
            <input type="number" class="form-control" name="graduationYear" id="field_graduationYear"
                [(ngModel)]="learnerGroup.graduationYear" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerGroup.teacher" for="field_teacher">Teacher</label>
            <select class="form-control" id="field_teacher" name="teacher" [(ngModel)]="learnerGroup.teacher" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === learnerGroup.teacher?.id ? learnerGroup.teacher : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerGroup.school" for="field_school">School</label>
            <select class="form-control" id="field_school" name="school" [(ngModel)]="learnerGroup.school" >
                <option [ngValue]="null"></option>
                <option [ngValue]="schoolOption.id === learnerGroup.school?.id ? learnerGroup.school : schoolOption" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="helloCodeApp.learnerGroup.grade" for="field_grade">Grade</label>
            <select class="form-control" id="field_grade" name="grade" [(ngModel)]="learnerGroup.grade" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gradeOption.id === learnerGroup.grade?.id ? learnerGroup.grade : gradeOption" *ngFor="let gradeOption of grades; trackBy: trackGradeById">{{gradeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="helloCodeApp.learnerGroup.learner" for="field_learner">Learner</label>
            <select class="form-control" id="field_learner" multiple name="learner" [(ngModel)]="learnerGroup.learners">
                <option [ngValue]="getSelected(learnerGroup.learners, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
